.Header-nav{
    @include mq('s'){
        display: none;
    }
    &.active{
        display: block;
    }
    .nav-wrapper{
        
        margin: 0;
        padding: 0px;
        height: 50px;
        .item.active,
        .item:hover{
                color: #fff;
                background: blue;
            }
        
        .item{
            list-style: none;
            line-height: 50px;
            display: inline-block;
            
            
            a{
                color: #fff;
                display: block;
                margin: 10px 0;
                text-decoration: none;
                padding: 0 15px;
            }
           
        }
    }
}
.menu-toggle{
    
    @include mq('s'){
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #ccc;
        float: left;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: red;
    }
    &:before{
        content:'\f0c9';
        
        font-family: fontAwesome;
        line-height: 40px;
        
    }
    &.active:before{
        content:'\f00d';
        
    }
}